<div class="dream">
	<div> <%=@dream.subject %></div>
	<div> <%=@dream.created_at %></div>
	<div> <%=@dream.good_dream %></div>
	<div> <%=@dream.recurring_dream %></div>
	<div> <%=@dream.description %></div>
	<div> <%=@dream.emotions %></div>
	<div> <%=@dream.vividness %></div>
	<div> <%= image_tag @dream.image_url %> </div>
</div>